<template>
  <ValidationObserver v-slot="{ handleSubmit }">
    <b-form @submit.prevent="handleSubmit(onSubmit)">
      <b-row>

        <b-col md="12">
          <card-errors v-if="errors.length"/>
        </b-col>


        <!--nombre del tipo de mascota-->
        <b-col md="12">
          <b-form-group class="form-group" label="Tipo de mascota" label-for="pet-type-name">
            <ValidationProvider name="Tipo de mascota" rules="required" v-slot="{ errors }">
              <b-form-input name="pet-type-name" v-model="petType.name" id="pet-type-name"
                            :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>


        <b-col md="12" class="text-right mt-4">
          <b-button variant="primary" type="submit">Guardar</b-button>
        </b-col>


      </b-row>
    </b-form>
  </ValidationObserver>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import {core} from "../../config/pluginInit";

export default {
  name: "FormPet",
  props: {
    petType: {required: true, type: Object},
  },
  methods: {
    ...mapActions('PetType', ['createPetType','updatePetType']),
    onSubmit() {
      if (this.petType.id) {
        this.updatePetType(this.petType).then(response => {
          core.showSnackbar("success", "La información de la mascota ha sido actualizada con exito.");
          this.$bvModal.hide('form-pet-type');
        })
      } else {
        this.createPetType(this.petType).then(response => {
          core.showSnackbar("success", "El tipo de mascota ha sido registrada con exito.");
          this.$bvModal.hide('form-pet-type');
        })
      }
    }
  },
  computed: {
    ...mapState(['errors']),
    ...mapGetters('PetType', ['optionsPetTypes']),
  }
}
</script>

<style scoped>

</style>
