<template>
  <b-container fluid>

    <b-row>

      <b-col md="12">
        <iq-card>
          <template v-slot:body>
            <div class="d-flex justify-content-between align-items-center">
              <div class="todo-date d-flex mr-3">
                <i :class="`ri-government-line text-success mr-2`"></i>
                <span>Tipos de mascotas</span>
              </div>
              <div class="todo-notification d-flex align-items-center">
                <b-button variant=" iq-bg-primary iq-waves-effect" @click="modalAddPetType"
                          size="lg">
                  Registrar tipos de mascota
                </b-button>

                <!--============================
                   MODAL FORM PET TYPE
                ==============================-->
                <b-modal id="form-pet-type" centered :title="modalTitle" hide-footer>
                  <FormPetType :petType="petType"/>
                </b-modal>

              </div>
            </div>
          </template>
        </iq-card>
      </b-col>

      <b-col md="12">
        <iq-card>
          <template v-slot:body>
            <b-table :fields="fields" :items="petTypes" hover responsive>
              <template v-slot:cell(actions)="data">
                <b-button @click="modalEditPetType(data.item)" size="xs" variant="outline-success">
                  <i class="ri-edit-box-line m-0"></i>
                </b-button>
                <b-button @click="modalDeletePetType(data.item.id)" size="xs" variant="outline-danger">
                  <i class="ri-delete-bin-line m-0"></i>
                </b-button>
              </template>
            </b-table>
          </template>
        </iq-card>
      </b-col>

    </b-row>
  </b-container>
</template>

<script>
import {core} from "../../config/pluginInit";
import mapValues from "lodash/mapValues";
import {mapActions, mapState} from "vuex";
import FormPetType from "./FormPetType";

export default {
  name: "ListPetType",
  components: {FormPetType},
  created() {
    this.getPetTypes();
  },
  data() {
    return {
      petType: {
        name: '',
      },
      fields: [
        {key: 'name', label: 'Tipo de mascota'},
        {key: 'actions', label: 'Acciones'},
      ],
      modalTitle: ''
    }
  },
  methods: {
    ...mapActions('PetType', ['getPetTypes','deletePetType']),
    modalAddPetType() {
      this.modalTitle = 'Crear tipo de mascota';
      this.petType = mapValues(this.petType, () => '');
      this.$bvModal.show('form-pet-type');
    },
    modalEditPetType(petType) {
      this.modalTitle = 'Editar tipo de mascota';
      this.petType = clone(petType);
      this.$bvModal.show('form-pet-type');
    },
    modalDeletePetType(petTypeId) {
      this.$bvModal.msgBoxConfirm('¿Esta seguro que desea eliminar el tipo de mascota?', {
        buttonSize: 'sm',
        okVariant: 'danger',
        okTitle: 'Eliminar',
        cancelTitle: 'Cancelar',
        hideHeaderClose: false,
        centered: true
      }).then(value => {
        if (value) {
          this.deletePetType(petTypeId).then(response => {
            core.showSnackbar("success", "Los datos de la mascota han sido eliminado satisfactoriamente");
          })
        }
      });
    }
  },
  computed: {
    ...mapState('PetType', ['petTypes']),
  },
  mounted() {
    core.index();
  },

}
</script>

<style scoped>

</style>
