<template>
  <div>

    <iq-card bodyClass="pro-bg-card" class="bg-transparent shadow-none" headerClass="bg-primary">
      <template v-slot:headerTitle>
        <h5 class="text-white">Nombre de la mascota: <b>{{ pet.name }}</b></h5>
      </template>
      <template v-slot:headerAction>
        <i @click="modalDeletePet()" class="ri-delete-bin-line mr-0 font-size-18 mr-2 clickeable"/>
        <i @click="modalEditPet()" class="ri-ball-pen-line mr-0 font-size-18 clickeable"/>
      </template>
      <template v-slot:body>
        <p><b>Raza: </b>{{ pet.breed }}</p>
        <p><b>Cumpleaños: </b>{{ pet.date_of_birth | formatDate }}</p>
        <hr>
        <p><b>Nombre del propietario: </b>{{ pet.owner.name }}</p>
        <p><b>Telefono: </b>{{ pet.owner.phone_number }}</p>
        <p><b>Correo electronico: </b>{{ pet.owner.email }}</p>
        <b-button type="outline-primary">{{ pet.pet_type.name }}</b-button>
      </template>
    </iq-card>

    <!--============================
         MODAL  EDITAR
    ==============================-->
    <b-modal id="form-pet-edit" size="lg" centered title="Editar Mascota" hide-footer>
      <FormPet :pet="petEdit"/>
    </b-modal>

  </div>
</template>

<script>

import FormPet from './FormPet'
import {mapActions, mapMutations} from "vuex";
import {core} from "../../config/pluginInit";

export default {
  name: "DetailsPet",
  components: {FormPet},
  data() {
    return {
      petEdit: {
        pet_type_id: '',
        name: '',
        breed: '',
        date_of_birth: '',
        image: '',
        owner_name: '',
        phone_number: '',
        address: '',
        email: '',
      }
    }
  },
  props: {
    pet: {
      required: true,
      type: Object
    }
  },
  methods: {
    ...mapMutations(['CLEAR_ERRORS']),
    ...mapActions('Pet', ['deletePet']),
    modalEditPet() {
      this.petEdit = clone(this.pet);
      this.setDataOwner();
      this.CLEAR_ERRORS();
      this.$bvModal.show('form-pet-edit');
    },
    setDataOwner() {
      this.petEdit.owner_name = this.pet.owner.name;
      this.petEdit.phone_number = this.pet.owner.phone_number;
      this.petEdit.address = this.pet.owner.address;
      this.petEdit.email = this.pet.owner.email;
    },
    modalDeletePet() {
      this.$bvModal.msgBoxConfirm('¿Esta seguro que desea eliminar la mascota?', {
        buttonSize: 'sm',
        okVariant: 'danger',
        okTitle: 'Eliminar',
        cancelTitle: 'Cancelar',
        hideHeaderClose: false,
        centered: true
      }).then(value => {
        if (value) {
          this.deletePet(this.pet.id).then(response => {
            core.showSnackbar("success", "Los datos de la mascota han sido eliminado satisfactoriamente");
          })
        }
      });
    }
  }
}
</script>

<style scoped>
.clickeable {
  cursor: pointer;
}
</style>
