<template>
  <ValidationObserver v-slot="{ handleSubmit }">
    <b-form @submit.prevent="handleSubmit(onSubmit)">
      <b-row>

        <b-col md="12">
          <card-errors v-if="errors.length"/>
        </b-col>


        <!--        nombre mascota-->
        <b-col md="12">
          <b-form-group class="form-group" label="Nombre de la mascota" label-for="pet-name">
            <ValidationProvider name="Proveedor" rules="required" v-slot="{ errors }">
              <b-form-input name="pet-name" v-model="pet.name" id="pet-name"
                            :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>

        <!--tipo de mascota-->
        <b-col md="12">
          <b-form-group label="Tipo de mascota" label-for="pet-type">
            <ValidationProvider name="Tipo de mascota" rules="required" v-slot="{ errors }">
              <b-form-select plain v-model="pet.pet_type_id" :options="optionsPetTypes"
                             id="pet-type"
                             :class="(errors.length > 0 ? ' is-invalid' : '')">
              </b-form-select>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>


        <!--raza-->
        <b-col md="6">
          <b-form-group class="form-group" label="Raza" label-for="breed">
            <ValidationProvider name="Raza" rules="required" v-slot="{ errors }">
              <b-form-input name="breed" v-model="pet.breed" id="pet-name"
                            :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>


        <!--fecha de cumpleaños-->
        <b-col md="6">
          <b-form-group class="form-group" label="Fecha de cumpleaños" label-for="birth">
            <ValidationProvider name="Fecha de cumpleaños" rules="required" v-slot="{ errors }">
              <b-form-input name="breed" v-model="pet.date_of_birth" id="birth"
                            type="date"
                            :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>

        <!--============================
           DATOS DEL DUEÑO
        ==============================-->

        <b-col md="12">
          <p class="text-muted mb-0">Datos del propietario</p>
          <hr>
        </b-col>


        <!--Nombre completo del dueño-->
        <b-col md="12">
          <b-form-group class="form-group" label="Nombre del propietario" label-for="name-owner">
            <ValidationProvider name="Nombre del propietario" rules="required" v-slot="{ errors }">
              <b-form-input name="name-owner" v-model="pet.owner_name" id="name-owner"
                            :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>


        <!--Telefono dueño-->
        <b-col md="6">
          <b-form-group class="form-group" label="Telefono" label-for="phone-number">
            <ValidationProvider name="Telefono" rules="required" v-slot="{ errors }">
              <b-form-input name="phone-number" v-model="pet.phone_number" id="phone-number"
                            :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>


        <!--Direccion-->
        <b-col md="6">
          <b-form-group class="form-group" label="Dirección" label-for="address">
            <ValidationProvider name="Dirección" rules="required" v-slot="{ errors }">
              <b-form-input name="address" v-model="pet.address" id="address"
                            :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>


        <!--Correo electronico-->
        <b-col md="12">
          <b-form-group class="form-group" label="Correo electronico" label-for="email">
            <ValidationProvider name="Correo electronico" rules="required" v-slot="{ errors }">
              <b-form-input name="email" v-model="pet.email" id="email"
                            :class="(errors.length > 0 ? ' is-invalid' : '')"></b-form-input>
              <div class="invalid-feedback">
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </b-form-group>
        </b-col>


        <b-col md="12" class="text-right mt-4">
          <b-button variant="primary" type="submit">Guardar</b-button>
        </b-col>


      </b-row>
    </b-form>
  </ValidationObserver>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import {core} from "../../config/pluginInit";

export default {
  name: "FormPet",
  props: {
    pet: {required: true, type: Object},
  },
  created() {
    this.getPetTypes();
  },
  methods: {
    ...mapActions('PetType', ['getPetTypes']),
    ...mapActions('Pet', ['createPet', 'UpdatePet']),
    onSubmit() {
      if (this.pet.id) {
        this.UpdatePet(this.pet).then(response => {
          core.showSnackbar("success", "La información de la mascota a sido actualizada con exito.");
          this.$bvModal.hide('form-pet-edit');
        })
      } else {
        this.createPet(this.pet).then(response => {
          core.showSnackbar("success", "La mascota ha sido registrada con exito.");
          this.$bvModal.hide('form-pet-create');
        })
      }

    }
  },
  computed: {
    ...mapState(['errors']),
    ...mapGetters('PetType', ['optionsPetTypes']),
  }
}
</script>

<style scoped>

</style>
