<template>
  <b-container fluid>

    <b-row>

      <b-col lg="12">
        <iq-card>
          <template v-slot:body>
            <div class="d-flex justify-content-between align-items-center">
              <div class="todo-date d-flex mr-3">
                <i :class="`ri-government-line text-success mr-2`"></i>
                <span>Mascotas</span>
              </div>
              <div class="todo-notification d-flex align-items-center">
                <b-button variant=" iq-bg-primary iq-waves-effect" @click="modalAddPet"
                          size="lg">
                  Registrar Mascota
                </b-button>

                <b-modal id="form-pet-create" size="lg" centered title="Registrar mascota" hide-footer>
                  <FormPet :pet="pet"/>
                </b-modal>
              </div>
            </div>
          </template>
        </iq-card>
      </b-col>

      <template v-if="pets.length">
        <b-col v-for="pet in pets" :key="pet.id" md="4">
          <DetailsPet :pet="pet"/>
        </b-col>
      </template>
      <b-col v-else md="12">
        <b-alert show variant="warning">
          Aun no se ha registrado mascotas
        </b-alert>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import {core} from "../../config/pluginInit";
import FormPet from './FormPet';
import DetailsPet from "./DetailsPet";
import mapValues from "lodash/mapValues";
import {mapActions, mapState} from "vuex";

export default {
  name: "ListPet",
  components: {FormPet, DetailsPet},
  created() {
    this.getPets();
  },
  data() {
    return {
      modalTitle: '',
      pet: {
        pet_type_id: '',
        name: '',
        breed: '',
        date_of_birth: '',
        image: '',
        owner_name: '',
        phone_number: '',
        address: '',
        email: '',
      }
    }
  },
  methods: {
    ...mapActions('Pet', ['getPets']),
    modalAddPet() {
      this.pet = mapValues(this.pet, () => '');
      this.$bvModal.show('form-pet-create');
    }
  },
  computed: {
    ...mapState('Pet', ['pets'])
  },
  mounted() {
    core.index();
  },

}
</script>

<style scoped>

</style>
